@import url("https://use.typekit.net/pzt3kof.css");
@font-face
  font-family: "BC-Falster-Grotesk-Regular"
  src: url("../fonts/BC-Falster-Grotesk-Regular-5eff2d62beb194306abca5585932f2b5.woff2") format("woff2"), url("../fonts/BC-Falster-Grotesk-Regular-5eff2d62beb194306abca5585932f2b5.woff") format("woff")
  font-weight: normal
  font-style: normal

// Config vars
// Logo brand colors: dark-blue | zumthor
$base: #f1f0ee
$base-dark: darken($base, 25%)
$base-light: lighten($base, 25%)
$dark-blue: #0032d1
$zumthor: #e7eeff

$primary-color: $dark-blue
$primary-color-light: lighten($primary-color, 10%)
$accent-color: $zumthor
$body-color: #333332
$black: #30302f

body
  background: rgb(241, 240, 238)
  color: $body-color
  height: 100%
  font-family: proxima-nova, sans-serif
  margin: 0
  overflow: hidden
  width: 100%

ul
  margin: 0
  padding: 0
  list-style: none

.container
  display: grid
  height: 100vh
  grid-template-columns: auto 1fr 2fr
  grid-template-rows: 100px minmax(100px, 1fr) 100px

aside
  display: grid
  grid-template-columns: 80px 2fr
  height: 100%
  width: 30vw
  position: fixed

.nav
  padding: 5rem 1rem 0 1rem

.sidebar_slim,
.nav
  border-right: 1px solid rgba(48, 48, 47, .5)

main
  grid-column-start: 3
  padding: 5rem
  overflow-y: scroll
  height: 100vh

.home
  grid-row-start: 2
  grid-row-end: 4
  display: grid
  grid-template-columns: 1fr 2fr

.logo-box
  height: 50px
  text-align: center
  width: 100%

.site-logo
  color: $black
  font-family: roboto-mono, monospace
  font-size: 1.875rem
  text-decoration: none

nav li a
  color: $black
  display: inline-flex
  flex-direction: row
  font-family: "BC-Falster-Grotesk-Regular", serif
  text-decoration: none

a:hover
  color: rgba(48, 48, 47, .5)
  transition: color 0.5s

nav li h3
  font-size: 3.6875rem
  line-height: 5.75rem
  margin: 0

nav .option-number
  font-family: roboto-mono, monospace
  font-size: 1.125rem
  line-height: 1.125rem

.button
  border: 1px solid rgba(51, 51, 50, 1)
  color: $body-color
  padding: 15px
  text-align: center
  text-decoration: none

.button:hover
  box-shadow: 4px 4px 0px 0px rgba(51, 51, 50, 1)

.projects-list
  display: grid
  grid-gap: 10px
  grid-template-columns: 250px 250px 250px

.projects-list a 
  text-decoration: none

.ticket
  background: #fff
  border-top: 10px solid $dark-blue
  display: flex
  flex-direction: column
  padding: 1rem

.ticket:hover .preview-img
  display: block
  
.ticket-top
  display: flex
  justify-content: space-between

.ticket-top .title
  text-transform: uppercase

.date
  font-family: roboto-mono, monospace


// Helper Classes
.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  left: 50%
  right: 50%
  margin: 2em -50vw
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
    width: 100vw
    height: 400px
    background-size: cover
    background-position: bottom
    display: flex
    justify-content: center
    align-items: center



.icon svg:hover path
  fill: $base-light

footer .footer
  display: flex
  flex-direction: row
  grid-column-start: 1
  grid-column-end: 3
  font-family: roboto-mono, monospace
  flex-wrap: wrap
  max-width: 1300px
  width: 85%
  margin: 0 auto
  padding: 3rem 0rem 0rem
  background-color: transparent

.copyright
  display: flex
  flex-grow: 2

.social
  flex-grow: 2

.icon img
  width: 16px
  height: 16px
  vertical-align: middle


.social a
  padding: .5em .5em .3em .5em
  margin: .5em
  width: 1em
  height: 1em
  vertical-align: middle
  display: inline








