@import url("https://use.typekit.net/pzt3kof.css");

// Config vars
$soapstone: #FFFAF7
$body-background-color: $soapstone

$indigo: #526BCD
$cornflower-blue: #5491f3
$outrageous-orange: #FE583A
$mortar: #433544

$spring-wood: #f9f7f3
$black: #30302f
$primary: $indigo
$headline-text: orpheuspro, serif
$byline-date-text: commuters-sans, sans-serif
$body-text: capitolium-2, serif
$body-text-header: commuters-sans, sans-serif
$summary-text: commuters-sans, sans-serif
$button-text: commuters-sans, sans-serif
$body-color: #202121

$navbar-background-color: transparent
$navbar-box-shadow-color: $spring-wood
$navbar-item-color: $indigo
$navbar-item-hover-color: $cornflower-blue
$navbar-item-hover-background-color: transparent
$navbar-tab-hover-border-bottom-color: 1px solid $outrageous-orange
$navbar-tab-active-color: $outrageous-orange
$navbar-tab-active-border-bottom-color: 1px solid $outrageous-orange

//Menu overrides
$menu-item-color: $primary
$menu-item-hover-color: $cornflower-blue !important
$menu-item-hover-background-color: $outrageous-orange
$menu-item-active-color: $cornflower-blue
$menu-list-border-left: 1px solid $cornflower-blue
$menu-label-color: $cornflower-blue
  
body
  background: $soapstone
  color: $mortar
  font-family: $body-text
  font-weight: 400
  font-style: normal
  margin: 0
  overflow: hidden

// body, body a
//   cursor: none

ul
  margin: 0 !important
  padding: 0 !important
  list-style: none !important

.navbar
  padding: 1.25em 0

.navbar-brand .logo
  font-family: commuters-sans, sans-serif
  font-weight: 700
  font-style: normal
  text-transform: uppercase

#navMenu
  font-size: 1.125em
  font-weight: 500 !important
  font-family: orpheuspro, serif
  font-weight: normal
  letter-spacing: 2px

.menu-label
  font-size: 1em !important
  text-align: left

.menu-list
  list-style: none !important
  text-align: left

.projects-list
  display: grid
  grid-gap: 10px
  grid-template-columns: repeat(3, minmax(200px, 1fr))
  margin: 0 auto
  max-width: 1200px


.btn
  box-shadow: 4px 4px 0px 0px rgba(51, 51, 50, 1)
  border: 1px solid rgba(51, 51, 50, 1)
  color: $body-color
  font-family: $button-text
  font-weight: 700
  font-style: normal
  padding: 15px
  text-align: center
  text-decoration: none
  transition: all 0.1s cubic-bezier(0, 0, 0.25, 1)

.btn:hover
  border: 1px solid $cornflower-blue
  color: $cornflower-blue
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, .5)
  margin: 4px 0 0 4px
  
.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
.navbar-brand .navbar-item.logo
  padding: 0 1rem
 
@import "~bulma"
@import "~bulma/sass/utilities/initial-variables"