@import url('https://use.typekit.net/pzt3kof.css');
@import url('../fonts/fonts.scss');

// Config vars
$soapstone: #fffaf7;
$seashell: #fef4eb;
$blue-marguerite: #6666cc;
$vermilion: #fe3c00;
$patina: #669999;
$rhino: #333366;
$mortar: #433544;
$shark: #202121;
$body-color: $shark;
$body-background-color: $soapstone;

$primary: $rhino;
$secondary-font: orpheuspro, serif;
$primary-font: 'mabry-regular-pro', sans-serif;
$navbar-background-color: $soapstone;
$navbar-box-shadow-color: $seashell;
$navbar-item-color: $rhino;
$navbar-item-hover-color: $blue-marguerite;
$navbar-item-active-color: $blue-marguerite;
$navbar-item-hover-background-color: transparent;

//Menu overrides
$menu-item-color: $primary;
$menu-item-hover-color: $blue-marguerite !important;
$menu-item-hover-background-color: transparent;
$menu-item-active-color: $blue-marguerite;
$menu-list-border-left: 1px solid $blue-marguerite;
$menu-label-color: $blue-marguerite;

body {
    background: $soapstone;
    color: $mortar;
    font-family: $primary-font !important;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    overflow: hidden;
}

// body, body a
//   cursor: none

p {
    font-size: 1.313em;
}

.navbar {
    padding: 1.25em 0;

    .navbar-brand {
        .logo {
            font-family: 'mabry-medium-pro', sans-serif;
            font-size: 1.5em;
            font-weight: 500;
            font-style: normal;
        }
    }

    .is-active {
        font-family: orpheuspro, serif;
        font-weight: 400;
        font-style: italic;
    }
}

.navbar > .container {
    align-items: baseline !important;
}

#navMenu {
    font-size: 1.125em;
    font-weight: 500 !important;
    font-family: orpheuspro, serif;
    font-weight: normal;
    letter-spacing: 2px;
}

.menu-label {
    font-size: 1em !important;
    text-align: left;
}

.menu-list {
    list-style: none !important;
    text-align: left;
}

#hero {
    min-height: 85vh;
}

.projects-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    margin: 0 auto;
    max-width: 1200px;
}

.post-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 5em;

    .post-item {
        a {
            border-top: 2px solid $primary;
            color: $rhino;
            display: grid;
            grid-template-columns: 200px 1fr auto;
            padding: 2em 0;

            p {
                z-index: 2;
            }

            &:hover {
                color: $blue-marguerite;
            }
        }
    }
    .hover-item:hover .hover-item-show {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.5s;
    }

    .hover-item-show {
        position: absolute;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s;
        z-index: 1;
        max-height: 30vh;
        transform: translate(50%, -50%);
    }
}

.btn-link {
    box-shadow: 4px 4px 0px 0px rgba(51, 51, 50, 1);
    border: 1px solid rgba(51, 51, 50, 1);
    color: $body-color;
    font-weight: 700;
    font-style: normal;
    padding: 15px;
    text-align: center;
    text-decoration: none !important;
    transition: all 0.1s cubic-bezier(0, 0, 0.25, 1);
}

.btn-link:hover {
    border: 1px solid $blue-marguerite;
    color: $blue-marguerite;
    box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.5);
    margin: 4px 0 0 4px;
}

.navbar-item .icon {
    color: $primary;
}

// Override for use of svg's from https://simpleicons.org/
.icon svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: currentColor;
}

@import '~bulma';
@import '~bulma/sass/utilities/initial-variables';
